.idea/
.gradle/
.terraform/
.angular/
build/
node_modules/
dist/
.terraform.tfstate.lock.info
gradle.properties
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars.json
terraform.output.json
website_files.tf.json
/website/src/config.json
