<div class="loading-shade"
     *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div class="container">
  <div class="left-column">
    <div class="list-container">
      <div class="list-content">
        <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event)">
          <mat-list-option *ngFor="let assetWorkflow of mediaAssetWorkflows" [value]="assetWorkflow"
                           [selected]="this.selectedMediaAssetWorkflow === assetWorkflow">
            {{assetWorkflow.dateCreated | date : "YYYY-MM-dd HH:mm" }} - {{assetWorkflow.mediaWorkflowType}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="detail-container">
      <div class="detail">
        <h2>{{selectedMediaAssetWorkflow?.mediaWorkflowType}}{{mediaWorkflow?.status ? " - " + mediaWorkflow?.status : ""}}</h2>

        <app-aws-celebrity-recognition *ngIf="selectedMediaAssetWorkflow?.mediaWorkflowType === 'AwsCelebrityRecognition'"
                                       [assetWorkflow]="selectedMediaAssetWorkflow"
                                       (isLoadingEvent)="setChildLoading($event)"></app-aws-celebrity-recognition>
        <app-aws-face-detection *ngIf="selectedMediaAssetWorkflow?.mediaWorkflowType === 'AwsFaceDetection'"
                               [assetWorkflow]="selectedMediaAssetWorkflow"
                               (isLoadingEvent)="setChildLoading($event)"></app-aws-face-detection>
        <app-aws-label-detection *ngIf="selectedMediaAssetWorkflow?.mediaWorkflowType === 'AwsLabelDetection'"
                               [assetWorkflow]="selectedMediaAssetWorkflow"
                               (isLoadingEvent)="setChildLoading($event)"></app-aws-label-detection>
        <app-aws-transcription *ngIf="selectedMediaAssetWorkflow?.mediaWorkflowType === 'AwsTranscription'"
                               [assetWorkflow]="selectedMediaAssetWorkflow"
                               (isLoadingEvent)="setChildLoading($event)"></app-aws-transcription>
        <app-azure-transcription *ngIf="selectedMediaAssetWorkflow?.mediaWorkflowType === 'AzureTranscription'"
                               [assetWorkflow]="selectedMediaAssetWorkflow"
                               (isLoadingEvent)="setChildLoading($event)"></app-azure-transcription>
        <app-google-transcription *ngIf="selectedMediaAssetWorkflow?.mediaWorkflowType === 'GoogleTranscription'"
                               [assetWorkflow]="selectedMediaAssetWorkflow"
                               (isLoadingEvent)="setChildLoading($event)"></app-google-transcription>
      </div>
    </div>
  </div>
</div>
