.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  margin-bottom: 2em;
}

.mat-column-color {
  padding: 0;
  width: 80px;
}

.mat-column-name {
  padding: 0;
  width: 300px;
}

.mat-column-appearances {
  padding: 0;
  width: 600px;
}

.mat-column-confidence {
  padding: 0;
  width: 120px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
